/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    background-color: #a164df;
    text-align: center;
}

#soundbar {
    background-color: #a164df;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: screen;
	height : 100px;
	display : flex;
	align-items : center;
	justify-content : space-around;
}

#buttons {
    display: flex;
	align-items : center;
    justify-content: space-around;
	width : 100%;
}

.btn {
    padding: 10px 20px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.stop {
    padding: 10px 20px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
